body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin: 150px;
}

form {
    margin: auto;
    background-color: rgb(134, 100, 100);
    border-radius: 8px;
    box-shadow: o 4px 8px rgb(82, 65, 65);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(56, 38, 38);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(187, 161, 161);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(12, 12, 12);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(43, 1, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(163, 93, 91);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(3, 3, 20);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(16, 20, 22);
    border-radius: 8px;
    background-color: rgb(65, 43, 43);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: black;
}
